* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #797563;
}

span {
    padding-top: 3px;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}