{% extends 'base.html' %}

{% block title %}
<title>SHOW EMPLOYEE</title>
{% endblock %}

{% block content %}
<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>EMP ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>CITY</th>
            <th>MOBILE</th>
            <th>ADDRESS</th>
            <th>DEPARTMENT</th>
            <th>SALARY</th>
            <th>EMAIL ID</th>
            <th>PASSWORD</th>
            <th>ELIGIBILITY</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{record.eid}}</td>
            <td>{{record.first_name}}</td>
            <td>{{record.last_name}}</td>
            <td>{{record.age}}</td>
            <td>{{record.gender}}</td>
            <td>{{record.city}}</td>
            <td>{{record.mobile}}</td>
            <td>{{record.address}}</td>
            <td>{{record.dept}}</td>
            <td>{{record.sal}}</td>
            <td>{{record.email}}</td>
            <td>{{record.password}}</td>
            <td>{{record.eligible}}</td>
            <td>
                <a href="{% url 'Update_Employee' record.eid %}"><button type="button"
                        class="btn btn-outline-dark btn-large me-2">UPDATE</button></a>
                <a href="{% url 'Delete_Employee' record.eid %}"><button type="button"
                        class="btn btn-outline-dark btn-large">DELETE</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}